@page
@model Web.CarDealership.BMW.Pages.AEs.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Доп. оборудование</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalEquipment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalEquipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalEquipment.Characteristics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalEquipment.Characteristics)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalEquipment.cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalEquipment.cost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AdditionalEquipment.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к таблице</a>
    </form>
</div>
